/*needs to be updated*/
.side{
  float: left;
  width: 200px;
  height: 500px;
  margin-right: 25px;
/*  background-color: white;*/
}
h1,h3,label{
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}
.at_hide,.ams_hide, .app_hide{
  display: none;
}
#submit{
  color: black;
}
#submit:hover{
  color: red;
}
#list{
  float:left;
  width: 80%;
/*  height: 500px;*/
/*  background-color: red;*/
  display: flex;
  flex-wrap: wrap;
}
#list li{
  margin-right: 15px;
  margin-bottom: 10px;
}
#list li:hover{
  background-color: rgba(255,255,255,0.5);
  border: 1px red dashed;
}
#cus{
  width: 190px;
  overflow-x: hidden;
}
.eighty_two,.eighty_three,.eighty_four,.eighty_five, .eighty_six, .eighty_seven, .eighty_eight, .eighty_nine, .two_seven,.two_four,.two_five,.two_two, .nighty,.nighty_one,.seventy_six {
/*  margin-right: 15px;*/
  width: 190px;
  flex-wrap: wrap;
/*  display: none;*/
}

/*
.action, 
.sports,
.shooter,
arcade,
.sim,
.strag,
.space,
.sci,
.fighting,
.adven .
.bowl
.rac
.rpg
*/
/*
.imghl{
  
}
.holdls{
  
}*/
