.side{
  float: left;
  width: 200px;
  height: 500px;
  margin-right: 25px;
/*  background-color: white;*/
}
h1,h3,label{
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}
.at_hide,.ams_hide .app_hide{
  display: none;
}
#submit{
  color: black;
}
#submit:hover{
  color: red;
}
#list{
  float:left;
  width: 80%;
  height: 500px;
  background-color: red;
  display: flex;
}
.eighty_two,.eighty_three{
  margin-right: 15px;
  width: 190px;
  flex-wrap: wrap;
  display: none;
}
