/*updated*/
#ndsf{
  width: 100%;
}
#popu{
  margin-top: 100px;
  margin-right: auto;
  margin-left: auto;
  display: inline-flex;
/*  width: 100%;*/
/*  background-color: aqua;*/
  padding: 0;
  margin: auto;
/*  width: 100%; */
  flex-wrap: wrap;
}
#popu li:hover{
/*  border: 1px red solid;*/
  background-color: gray;
}
#popu li{
  margin-right: 15px;
}
#amsI{
  position: relative;
  left: -20px;
  top: -20px;
}
#atI{
  position: relative;
  left: -20px;
  top: 0px;
}
.holdls{
  height: 200px;
  width: 150px;
/*  background-color: black;*/
}

.imghl{
  width: 150px;
  height: 120px;
  overflow: hidden;
  margin-bottom: 10px;
  border-radius: 10px;
}
input,textarea{color: black;}
form {
       padding: 10px; 
}
label {
  float: left;
	    width: 100px; 
        clear: left;
	    text-align: right; 
	    padding-right: 10px;
	    margin-top: 10px; 
}
input,textarea{ margin-top: 10px; 
                  display: block; } 

#submit { 
  margin-left: 110px; 
  height: 30px;
  width: 100px;
}
