/*Updated*/
*{
  font-family: 'Press Start 2P', cursive;
  color: white;
}
/*font-family: 'Monofett', cursive;*/
#sub_nav_top a{
  font-size: 13px;
}
a{
  text-decoration: none;
}
#id,h1,h3,p,h4,input{
  font-family: 'Roboto', sans-serif;
}
